.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;

    &__right {
        display: flex;
        align-items: center;

        & input[type="text"] {
            margin-right: 30px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        & a {
            margin-right: 30px;
            font-weight: 500;

            &:last-child {
                margin-right: 15px;
            }
        }
    }

    & .settings-icon {
        &:hover {
            & svg {
                & path {
                    fill: #333333;
                }
            }
        }
    }
}