.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        display: block;
    }

    &__left {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: rgba(0,0,0,0.05);
        padding: 0 15px;
    }

    &__menu {
        display: flex;
        align-items: center;

        & a {
            margin-right: 30px;
            font-weight: 500;

            &:last-child {
                margin-right: 15px;
            }
        }
    }

    & .settings-icon {
        &:hover {
            & svg {
                & path {
                    fill: #333333;
                }
            }
        }
    }
}