* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFBDB;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #666666;
    padding: 15px;
}

a {
    color: #666666;
    text-decoration: none;

    &:hover {
        color: #333333;
    }
}