* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFBDB;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #666666;
    padding: 15px;
}

a {
    color: #666666;
    text-decoration: none;

    &:hover {
        color: #333333;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow: hidden;

    &__left {
        width: 260px;
        height: calc(100vh - 110px);
        margin-right: 20px;

        &__header {
            display: flex;
            align-items: center;

            & a {
                padding: 5px;
                color: #666666;
                font-weight: 500;
                margin-right: 10px;

                &.active, &:hover {
                    color: white;
                    background-color: rgba(0,0,0,0.6);
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__main {
            background-color: rgba(0,0,0,0.05);
            height: 100%;
            padding: 10px;
        }
    }
}