* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #FFFBDB;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  padding: 15px; }

a {
  color: #666666;
  text-decoration: none; }
  a:hover {
    color: #333333; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  overflow: hidden; }
  .container__left {
    width: 260px;
    height: calc(100vh - 110px);
    margin-right: 20px; }
    .container__left__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 30px; }
      .container__left__header a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        padding: 5px;
        color: #666666;
        font-weight: 500;
        margin-right: 15px; }
        .container__left__header a.active, .container__left__header a:hover {
          color: white;
          background-color: rgba(0, 0, 0, 0.6); }
        .container__left__header a:last-child {
          margin-right: 0; }
    .container__left__main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.05);
      height: calc(100vh - 140px);
      padding: 10px 0 0; }

input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  width: 400px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #666666;
  background-color: white;
  border: 5px solid #DFDCC1;
  padding: 7px 10px; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 5px solid #7D7B61; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 60px; }
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__right input[type="text"] {
      margin-right: 30px; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__menu a {
      margin-right: 30px;
      font-weight: 500; }
      .header__menu a:last-child {
        margin-right: 15px; }
  .header .settings-icon:hover svg path {
    fill: #333333; }

.directory {
  padding: 0 10px; }
  .directory__header {
    font-weight: 500; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  margin-top: 20px;
  border-top: 1px solid #ccc; }
  .footer a {
    text-decoration: underline; }
